# Ignore the 'env' folder (virtual environment)
env/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files (e.g., for VS Code, PyCharm, etc.)
.vscode/
.idea/

# Ignore other common files/folders
*.log
*.bak
*.swp

# Ignore the requirements.txt file if not used to track dependencies
# requirements.txt

# Ignore all contents of the TrainingImage folder, but not the folder itself
TrainingImage/*
!TrainingImage/

# Track empty Trainner.yml file (ignore its contents)
TrainingImageLabel/Trainner.yml

# Track empty student_data.csv file (ignore its contents)
StudentDetails/student_data.csv
