# Ignore the 'env' folder (virtual environment)
env/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files (e.g., for VS Code, PyCharm, etc.)
.vscode/
.idea/

# Ignore other common files/folders
*.log
*.bak
*.swp

# Ignore the requirements.txt file if not used to track dependencies
# requirements.txt

# Ignore the TrainingImage folder content (but not the folder itself)
TrainingImage/*
!TrainingImage/

# Ignore the Trainner.yml file content
TrainingImageLabel/Trainner.yml

# Ignore student_data.csv content (but not the file itself)
StudentDetails/student_data.csv
